// Variables

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Circular Std", "Segoe UI", Roboto, "Helvetica Neue",
    Arial sans-serif;
$font-size-base: 0.925rem;
$line-height-base: 1.6;

// Colors
$blue: #475aef;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #d81e5b;
$red: #ff4b3e;
$orange: #f6993f;
$yellow: #ffd166;
$green: #29b432;
$teal: #3fb983;
$cyan: #5ba4e0;
$black: #111111;
$white: #fafafa;

// Additional
$light: #e4e4e4 !default;
$dark: #1d1d1d !default;

$enable-responsive-font-sizes: true !default;

$h1-font-size: $font-size-base * 4.375 !default;
$h2-font-size: $font-size-base * 2.25 !default;
$h3-font-size: $font-size-base * 1.875 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.125 !default;
$h6-font-size: $font-size-base !default;

